# IMPROVING YOUR MODEL
Hanna Meinikheim

9-20-2021

# Instructions
Feature Engineering is a big part of data science. The Logistic Regression model you trained to predict rain in Boise probably wasn't very good. That's to be expected the first time you train a model. This assignment is to see how much you can improve the model. Don't try all methods at once! Try one at a time { be incremental, document what helps and what
doesn't.

- [ ] Cut out the noise Are there any non-discriminating features? It might help to remove features that don't help make a prediction for or against your supervisory signal. It's easy. Just drop the column! Typically columns that are always unique like \date" are useless. Make sure the data repeats somewhere across your samples.
- [ ] Derive new data This part is a bit trickier, requires creativity, and typically means adding new columns you created out of thin air. Can you turn numeric data into buckets? For example, instead of numeric temperature, convert based on your own arbitrary thresholds into 3 categories: hot, mild, and cold. Who knows, maybe it will help? Maybe not? Maybe adding whether it rained in another city the day before { a neighboring city perhaps? Maybe it often rains in Portland 2 days before it rains in Boise? These are hypothesis. It's time-consuming to test these theories. It puts the science in data science! Come up with your own hypothesis about what predicts rain in Boise, and make more features! Try to come up with ones that have predictive potential { don't just created features for the sake of it.
- [ ] Transform your data Feature scaling is important. Numeric ranges are treated equal when they are scaled to the same range. If you don't scale, temperature has a larger range than barometric pressure, so it's treated as \more important". You must scale certain numeric ranges. Are you one-hot-encoding categorical features?
- [ ] How good is your model? Using model evaluation metrics learned in class, is your model improving? If so, by how much? Document in your notebook what features you dropped, added, and changed. Be clear about what helped, what didn't, and the overall improvement to your model. Are you satisfied with yourmodel? Why or why not?
- [ ] Improve your model Increase the accuracy by at least 5% over the accuracy you reported in homework 4. If you are unable to, write a 1-page paper explaining why.
- [ ] Push Jupyter Notebook to github

In [1]:
# import pandas
import pandas as pd

col_names2 = ['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND', 'AWND_ATTRIBUTES', 'FMTM', 'FMTM_ATTRIBUTES', 
              'PGTM', 'PGTM_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW', 'SNOW_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 
              'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WESD', 
              'WESD_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5', 'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES', 
              'WT03', 'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES', 'WT07', 
              'WT07_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES', 'WT11', 'WT11_ATTRIBUTES', 'WT13', 'WT13_ATTRIBUTES', 
              'WT16', 'WT16_ATTRIBUTES', 'WT17', 'WT17_ATTRIBUTES', 'WT18', 'WT18_ATTRIBUTES', 'WT19', 'WT19_ATTRIBUTES', 'WT22', 
              'WT22_ATTRIBUTES']

# load dataset
df = pd.read_csv("wDATA-NOAA-2010.csv",header=None, names=col_names2, skiprows=[0])

#### COLUMN HEADER MEANING ###

# WT03 - Thunder
# --WT04 - Ice pellets, sleet, snow pellets, or small hail"
#-- PRCP - Precipitation
# --WT05 - Hail (may include small hail)
# --WT06 - Glaze or rime
# WT07 - Dust, volcanic ash, blowing dust, blowing sand, or blowing obstruction
# WT08 - Smoke or haze
# --SNWD - Snow depth
# --WT09 - Blowing or drifting snow
# WDF2 - Direction of fastest 2-minute wind
# WDF5 - Direction of fastest 5-second wind
# PGTM - Peak gust time
# WT11 - High or damaging winds
# TMAX - Maximum temperature
# --WT13 - Mist
# WSF2 - Fastest 2-minute wind speed
# FMTM - Time of fastest mile or fastest 1-minute wind
# WSF5 - Fastest 5-second wind speed
# --SNOW - Snowfall
# --WT16 - Rain (may include freezing rain, drizzle, and freezing drizzle)
# --WT17 - Freezing rain
# --WT18 - Snow, snow pellets, snow grains, or ice crystals
# --WT19 - Unknown source of precipitation
# AWND - Average wind speed
# --WT22 - Ice fog or freezing fog
# --WT01 - Fog, ice fog, or freezing fog (may include heavy fog)
# --WESD - Water equivalent of snow on the ground
# --WT02 - Heavy fog or heaving freezing fog (not always distinguished from fog)
# TAVG - Average Temperature.
# TMIN - Minimum temperature

In [2]:
df.head() # not all the features are numeric (not nice for logistic regression)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,...,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES
0,USW00024131,"BOISE AIR TERMINAL, ID US",43.5666,-116.24055,875.4,1/1/2010,6.3,",,W",2137.0,",,X",...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00024131,"BOISE AIR TERMINAL, ID US",43.5666,-116.24055,875.4,1/2/2010,0.9,",,W",48.0,",,X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00024131,"BOISE AIR TERMINAL, ID US",43.5666,-116.24055,875.4,1/3/2010,1.6,",,W",1155.0,",,X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X"
3,USW00024131,"BOISE AIR TERMINAL, ID US",43.5666,-116.24055,875.4,1/4/2010,1.3,",,W",2057.0,",,X",...,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
4,USW00024131,"BOISE AIR TERMINAL, ID US",43.5666,-116.24055,875.4,1/5/2010,0.7,",,W",1933.0,",,X",...,1.0,",,X",NaN,NaN,1.0,",,X",1.0,",,X",NaN,NaN

In [3]:
df.drop(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION'], axis=1, inplace=True)
df.head()

,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,...,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES
0,1/1/2010,6.3,",,W",2137.0,",,X",2136.0,",,W",11.2,",,0,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/2/2010,0.9,",,W",48.0,",,X",717.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/3/2010,1.6,",,W",1155.0,",,X",1153.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X"
3,1/4/2010,1.3,",,W",2057.0,",,X",1208.0,",,W",0.0,"T,,0,2400",0.0,...,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
4,1/5/2010,0.7,",,W",1933.0,",,X",929.0,",,W",1.3,",,0,2400",0.0,...,1.0,",,X",NaN,NaN,1.0,",,X",1.0,",,X",NaN,NaN

In [5]:
### Note: 9’s in a field (e.g.9999) indicate missing data or data that has not been received ###
    # from the documentation
# Select columns containing value 9999
filter = (df == 9999).any()
sub_df = df.loc[: , filter]
sub_df

        FMTM
0     2137.0
1       48.0
2     1155.0
3     2057.0
4     1933.0
...      ...
4265     NaN
4266     NaN
4267     NaN
4268     NaN
4269     NaN

[4270 rows x 1 columns]

In [7]:
# Finding the rows that have 9999 in them
rslt_df = df.loc[df['FMTM'] == 9999]
rslt_df

,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,...,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES
669,11/1/2011,6.3,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,11/2/2011,5.5,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,11/3/2011,5.7,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,11/4/2011,3.0,",,W",9999.0,",X,X",NaN,NaN,3.8,",,X,2400",5.0,...,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
673,11/5/2011,2.5,",,W",9999.0,",X,X",NaN,NaN,0.0,"T,,X,2400",0.0,...,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
674,11/6/2011,3.1,",,W",9999.0,",X,X",NaN,NaN,0.0,"T,,X,2400",0.0,...,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
675,11/7/2011,1.8,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X"
676,11/8/2011,1.9,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,11/9/2011,2.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,11/10/2011,1.8,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,11/11/2011,2.7,",,W",9999.0,",X,X",NaN,NaN,0.0,",,Z,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,11/12/2011,4.1,",,W",9999.0,",X,X",NaN,NaN,1.3,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
681,11/13/2011,3.0,",,W",9999.0,",X,X",NaN,NaN,0.3,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
682,11/14/2011,3.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,11/15/2011,2.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,11/16/2011,4.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,11/17/2011,4.7,",,W",9999.0,",X,X",NaN,NaN,1.3,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,11/18/2011,2.7,",,W",9999.0,",X,X",NaN,NaN,0.5,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN
687,11/19/2011,3.7,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,11/20/2011,2.8,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,11/21/2011,2.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,11/22/2011,6.7,",,W",9999.0,",X,X",NaN,NaN,0.8,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,11/23/2011,6.4,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,11/24/2011,2.3,",,W",9999.0,",X,X",NaN,NaN,0.0,"T,,Z,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,11/25/2011,4.7,",,W",9999.0,",X,X",NaN,NaN,0.0,"T,,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,11/26/2011,4.4,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,11/27/2011,1.5,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,7/1/2012,5.1,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,7/2/2012,1.7,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,7/3/2012,5.1,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,7/4/2012,3.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,7/5/2012,2.5,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,7/6/2012,3.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,Z,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,7/7/2012,3.3,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,7/8/2012,4.6,",,W",9999.0,",X,X",NaN,NaN,0.3,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,7/9/2012,3.6,",,W",9999.0,",X,X",NaN,NaN,0.8,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,7/10/2012,2.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
922,7/11/2012,1.9,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,7/12/2012,3.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,7/13/2012,4.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,7/14/2012,5.0,",,W",9999.0,",X,X",NaN,NaN,0.8,",,X,2400",0.0,...,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
926,7/15/2012,3.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
927,7/16/2012,4.3,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,7/17/2012,2.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,7/18/2012,2.8,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,7/19/2012,4.0,",,W",9999.0,",X,X",NaN,NaN,0.0,",,Z,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
931,7/20/2012,2.9,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
932,7/21/2012,3.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,7/22/2012,3.1,",,W",9999.0,",X,X",NaN,NaN,0.0,",,Z,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934,7/23/2012,3.8,",,W",9999.0,",X,X",NaN,NaN,0.0,",,Z,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
935,7/24/2012,1.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,7/25/2012,2.2,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,7/26/2012,3.4,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,7/27/2012,2.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,7/28/2012,2.6,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,7/29/2012,1.7,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,7/30/2012,3.1,",,W",9999.0,",X,X",NaN,NaN,0.0,",,X,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Dates missing (11-1-2011 to 11-27-2011) and (7-1-2012 to 7-302012)
# Get averages for those months from the prior years
df['month'] = pd.DatetimeIndex(df['DATE']).month
df['year'] = pd.DatetimeIndex(df['DATE']).year
df.head()

,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,...,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES,month,year
0,1/1/2010,6.3,",,W",2137.0,",,X",2136.0,",,W",11.2,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2010.0
1,1/2/2010,0.9,",,W",48.0,",,X",717.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2010.0
2,1/3/2010,1.6,",,W",1155.0,",,X",1153.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1.0,2010.0
3,1/4/2010,1.3,",,W",2057.0,",,X",1208.0,",,W",0.0,"T,,0,2400",0.0,...,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,1.0,2010.0
4,1/5/2010,0.7,",,W",1933.0,",,X",929.0,",,W",1.3,",,0,2400",0.0,...,NaN,NaN,1.0,",,X",1.0,",,X",NaN,NaN,1.0,2010.0

In [9]:
# selecting rows that have the 11th month minus those that have missing FMTM values
df_11 = df.loc[df['month'] == 11]
df_11 = df_11[df_11['FMTM'] != 9999]
df_11.head()

,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,...,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES,month,year
304,11/1/2010,4.4,",,W",1115.0,",,X",1114.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2010.0
305,11/2/2010,1.7,",,W",17.0,",,X",18.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2010.0
306,11/3/2010,3.1,",,W",901.0,",,X",906.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2010.0
307,11/4/2010,1.6,",,W",742.0,",,X",743.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2010.0
308,11/5/2010,1.7,",,W",543.0,",,X",542.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2010.0

In [14]:
df_11['year'].value_counts()
# shows that 2011 is not there and

2010.0    30
2012.0    30
2013.0    30
2014.0    30
2015.0    30
2016.0    30
2017.0    30
2018.0    30
2019.0    30
2020.0    30
2011.0     3
Name: year, dtype: int64

In [15]:
rslt_df_11 = df_11.loc[df['FMTM'] == 9999]
rslt_df_11
# shows no values for 99 in this month 11 dataframe

Empty DataFrame
Columns: [DATE, AWND, AWND_ATTRIBUTES, FMTM, FMTM_ATTRIBUTES, PGTM, PGTM_ATTRIBUTES, PRCP, PRCP_ATTRIBUTES, SNOW, SNOW_ATTRIBUTES, SNWD, SNWD_ATTRIBUTES, TAVG, TAVG_ATTRIBUTES, TMAX, TMAX_ATTRIBUTES, TMIN, TMIN_ATTRIBUTES, WDF2, WDF2_ATTRIBUTES, WDF5, WDF5_ATTRIBUTES, WESD, WESD_ATTRIBUTES, WSF2, WSF2_ATTRIBUTES, WSF5, WSF5_ATTRIBUTES, WT01, WT01_ATTRIBUTES, WT02, WT02_ATTRIBUTES, WT03, WT03_ATTRIBUTES, WT04, WT04_ATTRIBUTES, WT05, WT05_ATTRIBUTES, WT06, WT06_ATTRIBUTES, WT07, WT07_ATTRIBUTES, WT08, WT08_ATTRIBUTES, WT09, WT09_ATTRIBUTES, WT11, WT11_ATTRIBUTES, WT13, WT13_ATTRIBUTES, WT16, WT16_ATTRIBUTES, WT17, WT17_ATTRIBUTES, WT18, WT18_ATTRIBUTES, WT19, WT19_ATTRIBUTES, WT22, WT22_ATTRIBUTES, month, year]
Index: []

[0 rows x 63 columns]

In [17]:
avg_11 = df_11["FMTM"].mean()
avg_11

In [23]:
df.loc[(df['month'] == 11) & (df['FMTM'] == 9999), "FMTM"] = avg_11
#df[(df.a != -1) & (df.b != -1)]

In [24]:
df.loc[(df['month'] == 11) & (df['FMTM'] == 9999)]
# dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]

Empty DataFrame
Columns: [DATE, AWND, AWND_ATTRIBUTES, FMTM, FMTM_ATTRIBUTES, PGTM, PGTM_ATTRIBUTES, PRCP, PRCP_ATTRIBUTES, SNOW, SNOW_ATTRIBUTES, SNWD, SNWD_ATTRIBUTES, TAVG, TAVG_ATTRIBUTES, TMAX, TMAX_ATTRIBUTES, TMIN, TMIN_ATTRIBUTES, WDF2, WDF2_ATTRIBUTES, WDF5, WDF5_ATTRIBUTES, WESD, WESD_ATTRIBUTES, WSF2, WSF2_ATTRIBUTES, WSF5, WSF5_ATTRIBUTES, WT01, WT01_ATTRIBUTES, WT02, WT02_ATTRIBUTES, WT03, WT03_ATTRIBUTES, WT04, WT04_ATTRIBUTES, WT05, WT05_ATTRIBUTES, WT06, WT06_ATTRIBUTES, WT07, WT07_ATTRIBUTES, WT08, WT08_ATTRIBUTES, WT09, WT09_ATTRIBUTES, WT11, WT11_ATTRIBUTES, WT13, WT13_ATTRIBUTES, WT16, WT16_ATTRIBUTES, WT17, WT17_ATTRIBUTES, WT18, WT18_ATTRIBUTES, WT19, WT19_ATTRIBUTES, WT22, WT22_ATTRIBUTES, month, year]
Index: []

[0 rows x 63 columns]

In [26]:
# selecting rows that have the 7th month minus those that have missing FMTM values
df_7 = df.loc[df['month'] == 7]
df_7 = df_7[df_7['FMTM'] != 9999]
df_7.head()

,DATE,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,...,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT22,WT22_ATTRIBUTES,month,year
181,7/1/2010,1.8,",,W",2357.0,",,X",1508.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2010.0
182,7/2/2010,5.4,",,W",1945.0,",,X",1945.0,",,W",1.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2010.0
183,7/3/2010,4.8,",,W",1700.0,",,X",1659.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2010.0
184,7/4/2010,3.0,",,W",1546.0,",,X",1443.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2010.0
185,7/5/2010,5.0,",,W",1533.0,",,X",1731.0,",,W",0.0,",,0,2400",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2010.0

In [28]:
avg_7 = df_7["FMTM"].mean()
avg_7

1683.5555555555557

In [29]:
df.loc[(df['month'] == 7) & (df['FMTM'] == 9999), "FMTM"] = avg_7
df.loc[(df['month'] == 7) & (df['FMTM'] == 9999)]

Empty DataFrame
Columns: [DATE, AWND, AWND_ATTRIBUTES, FMTM, FMTM_ATTRIBUTES, PGTM, PGTM_ATTRIBUTES, PRCP, PRCP_ATTRIBUTES, SNOW, SNOW_ATTRIBUTES, SNWD, SNWD_ATTRIBUTES, TAVG, TAVG_ATTRIBUTES, TMAX, TMAX_ATTRIBUTES, TMIN, TMIN_ATTRIBUTES, WDF2, WDF2_ATTRIBUTES, WDF5, WDF5_ATTRIBUTES, WESD, WESD_ATTRIBUTES, WSF2, WSF2_ATTRIBUTES, WSF5, WSF5_ATTRIBUTES, WT01, WT01_ATTRIBUTES, WT02, WT02_ATTRIBUTES, WT03, WT03_ATTRIBUTES, WT04, WT04_ATTRIBUTES, WT05, WT05_ATTRIBUTES, WT06, WT06_ATTRIBUTES, WT07, WT07_ATTRIBUTES, WT08, WT08_ATTRIBUTES, WT09, WT09_ATTRIBUTES, WT11, WT11_ATTRIBUTES, WT13, WT13_ATTRIBUTES, WT16, WT16_ATTRIBUTES, WT17, WT17_ATTRIBUTES, WT18, WT18_ATTRIBUTES, WT19, WT19_ATTRIBUTES, WT22, WT22_ATTRIBUTES, month, year]
Index: []

[0 rows x 63 columns]